{{- $date      := dateFormat "January 2, 2006" .Date }}
{{- $hasAuthor := .Params.author }}
<a href="{{ .URL }}">
  <div class="card">
    <div class="card-content">
      <p class="title is-size-1 has-text-weight-light{{ if $hasAuthor }} is-spaced{{ end }}">
        {{ .Title }}
      </p>

      {{- with .Params.author }}
      <p class="subtitle is-size-3">
        {{ . }}
      </p>
      {{- end }}

      <p class="is-size-4">
        {{ $date }}
      </p>

      {{- with .Summary }}
      <hr class="has-background-primary" />

      <div class="content is-medium">
        {{ . }}
      </div>
      {{- end }}
    </div>
  </div>
</a>


