{{- $date       := dateFormat "January 2, 2006" .Date }}
{{- $hasAuthor  := .Params.author }}
{{- $twitterUrl := printf "https://twitter.com/intent/tweet?text=%s %s" (printf "Check out this post from the TiKV blog: \"%s\"" .Title) .Permalink }}
<a href="{{ .URL }}">
  <div class="card has-background-black">
    <div class="card-content">
      <p class="title is-size-2 is-size-3-mobile has-text-white has-text-weight-light">
        {{ .Title }}
      </p>

      {{- with .Params.author }}
      <p class="subtitle is-size-4 is-size-5-mobile has-text-white-bis has-text-weight-light">
        {{ . }}
      </p>
      {{- end }}

      <p class="is-size-5 is-size-6-mobile has-text-grey-lighter has-text-weight-light">
        {{ $date }}
      </p>

      {{- with .Summary }}
      <hr class="has-background-primary" />

      <div class="content is-medium has-text-grey-lighter">
        {{ . }}
      </div>
      {{- end }}

      <br />

      <div class="buttons">
        <a class="button is-twitter-blue twitter-share-button" href="{{ $twitterUrl }}">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</a>


