{{ define "main" }}
{{- $date := dateFormat "Monday, Jan 2, 2006" .Date }}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-2{{ if .Params.author }} is-spaced{{ end }}">
        {{ .Title }}
      </h2>
      {{- with .Params.author }}
      <span class="subtitle is-4">
        {{ . }} &ndash; {{ $date }}
      </span>
      {{- end }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content is-medium">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
