{{- $year      := now.Year }}
{{- $logo      := .Site.Params.logos.white | relURL }}
{{- $orga      := .Site.Data.organizers }}
{{- $latest    := .Site.Params.versions.latest }}
{{- $blogPosts := where .Site.RegularPages "Section" "blog" }}
<footer class="footer is-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <img class="image is-footer-image" src="{{ $logo }}" alt="RustCon footer logo">
      </div>

      <div class="column">
        <h5 class="is-size-5 has-text-weight-bold has-text-white">
          Organizers
        </h4>

        <hr class="hr has-background-primary">

        <ul>
          {{- range $orga }}
          <li>
            <a href="{{ .url }}">
              {{ .name }}
            </a>
          </li>
          {{- end }}
        </ul>
      </div>

      <div class="column">
        <h5 class="is-size-5 has-text-weight-bold has-text-white">
          Conference
        </h4>

        <hr class="hr has-background-primary">

        <ul>
          <li>
            <a href="/about">
              About
            </a>
          </li>
          <li>
            <a href="https://cfp.rustcon.asia">
              Call for Proposals
            </a>
          </li>
          <li>
            <a href="/about">
              Tickets
            </a>
          </li>
          <li>
            <a href="{{ .Site.Params.socialMedia.github }}">
              Github
            </a>
          </li>
          <li>
            <a href="https://berlincodeofconduct.org/">
              Code of Conduct
            </a>
          </li>
          <li>
            <a href="mailto:ana@pingcap.com">
              Contact
            </a>
          </li>
        </ul>
      </div>

      {{- if gt (len $blogPosts) 0 }}
      <div class="column">
        <h5 class="is-size-5 has-text-weight-bold has-text-white">
          Blog
        </h4>

        <hr class="hr has-background-primary">

        <ul>
          {{- range first 5 $blogPosts }}
          <li>
            <a href="{{ .URL }}">
              {{ .Title }}
            </a>
          </li>
          {{- end }}
          {{- if gt (len $blogPosts) 5 }}
          <li>
            <a href="/blog">
              More...
            </a>
          </li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
    </div> <!-- columns -->

    <br /><br />

    <div class="has-text-centered">
      <span class="is-size-5 is-size-6-mobile has-text-grey-light">
        &copy; {{ $year }} RustCon Asia Organizers
      </span>
    </div>
  </div> <!-- container -->
</footer>
