{{- $isHome     := .IsHome }}
{{- $whiteLogo  := .Site.Params.logos.white | relURL }}
{{- $colorLogo  := .Site.Params.logos.color | relURL }}
{{- $blackLogo  := .Site.Params.logos.black | relURL }}
{{- $navbarLogo := cond $isHome $blackLogo $whiteLogo }}
{{- $twitter    := .Site.Params.socialmedia.twitter }}
{{- $github     := .Site.Params.socialmedia.github }}
{{- $docs       := where .Site.Pages "Section" "docs" }}
{{- $latest     := .Site.Params.versions.latest }}
{{- $color      := cond $isHome "light" "black" }}
{{- $blogPosts  := where .Site.RegularPages "Section" "blog" }}
<nav class="navbar is-fixed-top is-{{ $color }}">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL | relURL }}">
        <img src="{{ $navbarLogo }}" alt="TiKV main logo">
      </a>

      <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <span class="is-version has-text-weight-bold">
            Version
          </span>
          <span class="is-hidden-desktop">
            {{ $latest }}
          </span>
          <div class="is-navbar-version has-text-weight-bold is-hidden-touch">
            {{ $latest }}
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/docs">
            Docs
          </a>

          <div class="navbar-dropdown is-hidden-touch">
            {{- range $docs }}
            <a class="navbar-item" href="{{ .URL }}">
              {{ .Title }}
            </a>
            {{- end }} <!-- range $docs -->
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            Project
          </div>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/adopters">
              TiKV adopters
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/blog">
            Blog
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/blog">
              Blog home
            </a>

            <hr class="navbar-divider" />

            {{- range first 5 $blogPosts }}
            {{ .Render "blog/navbar-link" }}
            {{- end }}

            <hr class="navbar-divider" />

            <a class="navbar-item" href="/blog">
              More...
            </a>
          </div>
        </a>

        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-twitter-blue" target="_blank" href="https://twitter.com/{{ $twitter }}">
                <span class="icon has-text-white">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Twitter
                </span>
              </a>

              <a class="button is-black{{ if not $isHome }} is-inverted{{ end }}" target="_blank" href="{{ $github }}">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>
                  GitHub
                </span>
              </a>

              <!--
              <a class="button is-primary" href="/download">
                <span class="icon is-medium">
                  <i class="fas fa-cloud-download-alt"></i>
                </span>
                <span>
                  Download
                </span>
              </a>
              -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
