{{ define "main" }}
{{- $shortDesc := .Site.Params.description.brief | markdownify }}
{{- $longDesc  := .Site.Params.description.long | markdownify }}
{{- $talk_location  := .Site.Params.locations.talks }}
{{- $workshop_location  := .Site.Params.locations.workshops }}
{{- $buttons   := .Site.Params.home.buttons }}
{{- $logo      := .Site.Params.logos.color | relURL }}
{{- $orga  := .Site.Data.organizers }}
{{- $sponsors  := .Site.Data.sponsors }}
{{- $baiduLogo  := .Site.Params.logos.baidu | relURL }}
{{- $cryptapeLogo  := .Site.Params.logos.cryptape | relURL }}
{{- $features  := .Site.Data.features }}
<section class="hero is-medium is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="is-home-logo" src="{{ $logo }}" alt="Main RustCon Asia logo">

      <br />

      <p class="title is-size-1-desktop is-size-3-touch is-spaced">
        <span class="has-text-weight-bold">
          {{ .Site.Title }}
        </span>
        
        <span class="has-text-primary has-text-weight-bold">:</span>

        <span class="has-text-grey has-text-weight-light">
          {{ $shortDesc }}
        </span>
      </p>

      <p class="subtitle is-size-3 is-size-4-tablet is-size-5-mobile">
        {{ $longDesc }}
      </p>

      <div class="buttons is-centered">
        {{- range $buttons }}
        <a class="button is-medium is-rounded is-large is-primary" href="{{ .link | relURL }}">
          {{ .text }}
        </a>
        {{- end }}
      </div>

      <br />

      <div class="columns">
        <div class="is-half">
            <p class="subtitle has-text-weight-bold is-size-3 is-size-4-tablet is-size-5-mobile">Talks:</h1>
          <p class="subtitle has-text-weight-bold is-size-3 is-size-4-tablet is-size-5-mobile">
            {{ $talk_location.Name }}
          </p>
          <p class="has-text-grey subtitle is-size-3 is-size-4-tablet is-size-5-mobile">
            {{ $talk_location.Address }}
          </p>
        </div>
        <div class="is-half">
          <p class="subtitle has-text-weight-bold is-size-3 is-size-4-tablet is-size-5-mobile">Workshops:</h1>
          <p class="subtitle has-text-weight-bold is-size-3 is-size-4-tablet is-size-5-mobile">
            {{ $workshop_location.Name }}
          </p>
          <p class="has-text-grey subtitle is-size-3 is-size-4-tablet is-size-5-mobile">
            {{ $workshop_location.Address }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-primary">
  <div class="container">
    <div class="columns">
      {{- range $features }}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ .name }}
            </p>
            {{- with .icon }}
            <div class="card-header-icon">
              <span class="icon has-text-primary">
                <i class="fas {{ . }}" aria-hidden="true"></i>
              </span>
            </div>
            {{- end }}
          </header>
          {{- with .description }}
          <div class="card-content">
            <div class="content">
              {{ . | markdownify }}
            </div>
          </div>
          {{- end }}
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <p class="title is-size-4 is-size-5-mobile">
     A Rust Community conference organized by:
    </p>

    <div class="columns level">
      {{- range $orga }}
        <div class="column level">
          <a href="{{ .url }}">
            <img class="image" src="{{ .logo }}" alt="{{ .name }}">
          </a>
        </div>
      {{- end}}
    </div>

    <p class="title is-size-4 is-size-5-mobile">
      This event is sponsored by:
    </p>

    <div class="container columns">
      <div class="column is-half is-offset-one-quarter">
      {{- range $level := .Site.Data.sponsor_levels }}
        <div class="columns level">
          {{- range $sponsors }}
            {{- if eq .level $level }}
              <div class="column level">
                <a href="{{ .url }}">
                  <img class="image" src="{{ .logo }}" alt="{{ .name }}">
                </a>
              </div>
            {{- end}}
          {{- end}}
        </div>
      {{- end}}
      </div>
    </div>

    <p class="title is-size-4 is-size-5-mobile">
      <a href="mailto:ana@pingcap.com">Want to sponsor?</a>
    </p>
  </div>
</section>
{{ end }}
